.custom-nav-dropdown .text-white {
  color: white !important;
}

.custom-nav-dropdown .dropdown-toggle::after {
  color: white !important;
}

.custom-toggler {
  border-color: rgb(253, 0, 0); /* Colore del bordo */
}

.custom-toggler-icon {
  background-color: rgb(255, 0, 0); /* Colore delle linee dell'icona del toggler */
}

.offcanvas-body {
  background-color: #232329;
}

.offcanvas-header {
  color: white;
  background-color: #232329;
}
